In [64]:
import numpy as np
import pandas as pd
import seaborn
import matplotlib
import sklearn
import tweepy
import datetime
import time
from datetime import date, time

In [2]:
consumer_key = "cnozir0mgB4Zmm7IoqzgAQS73"
consumer_secret = "3xqlSgReZhaslX1yOdHG6TPtHeJcdHv3tV3emC7yB00ws31Fgy"
access_token = "1318272721382420480-wxe96w4m5cCJ4PdTIFxiaG3nhSusiG"
access_token_secret = "hdBskXriKoiBuM45XboiZtjQteGaQ2bYQ4FtQAF5a71ae"
auth = tweepy.OAuthHandler(consumer_key, consumer_secret)
auth.set_access_token(access_token, access_token_secret)
api = tweepy.API(auth,wait_on_rate_limit=True)

In [56]:
text_query = ['nigeria or nigerian politics','labour party or LP', 'Peter Obi', 'Tinubu', 'PDP', 'APC', 'Buhari', '2023 Election', 'PVC', 'INEC']
count = 500

tweets_df = pd.DataFrame()

for keyword in text_query:
    tweets = tweepy.Cursor(api.search_tweets,q=keyword+" -filter:retweets", result_type = 'popular', tweet_mode='extended').items(count) #Don't forget to adjust the result_type
    tweets_list = [[tweet.created_at, tweet.full_text, tweet.id, tweet.favorite_count, tweet.retweet_count] for tweet in tweets]
    k_tweets_df = pd.DataFrame(tweets_list)
    tweets_df = tweets_df.append(k_tweets_df,ignore_index=True)

tweets_df.rename(columns = {1:'Tweet', 2:'Tweet ID',
                              3:'Number of Likes', 4:'Number of Retweets'}, inplace = True)


tweets_df['Date'] = pd.to_datetime(tweets_df[0]).dt.date
tweets_df['Time'] = pd.to_datetime(tweets_df[0]).dt.time
tweets_df.sort_values(by=0,ascending=False)
tweets_df.drop(0, inplace=True, axis=1)
tweets_df.drop_duplicates(inplace=True, ignore_index=True)


tweets_df.head()

/var/folders/ky/pppgn1c56574xq6qr4rk8vnr0000gn/T/ipykernel_717/1173433489.py:10: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  tweets_df = tweets_df.append(k_tweets_df,ignore_index=True)

,Tweet,Tweet ID,Number of Likes,Number of Retweets,Date,Time
0,BREAKING: Arise TV fact checkers has published...,1599510235890462720,12105,5393,2022-12-04,21:05:32
1,Quranic proficiency suggests northern kids are...,1599490897745514498,9108,3089,2022-12-04,19:48:41
2,Peter Obi: The market price for Garri is now 2...,1599694151787782144,7581,1728,2022-12-05,09:16:21
3,Peter Obi performed excellently in education. ...,1599674908329783296,1538,673,2022-12-05,07:59:53
4,You can’t have 33% unemployment in a country o...,1599481430807302144,3868,1405,2022-12-04,19:11:04

In [57]:
tweets_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 260 entries, 0 to 259
Data columns (total 6 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Tweet               260 non-null    object
 1   Tweet ID            260 non-null    int64
 2   Number of Likes     260 non-null    int64
 3   Number of Retweets  260 non-null    int64
 4   Date                260 non-null    object
 5   Time                260 non-null    object
dtypes: int64(3), object(3)
memory usage: 12.3+ KB

In [54]:
new_tweets_df = tweets_df.copy()

In [58]:
new_tweets_df = new_tweets_df.append(tweets_df,ignore_index=True)

/var/folders/ky/pppgn1c56574xq6qr4rk8vnr0000gn/T/ipykernel_717/1099953655.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_tweets_df = new_tweets_df.append(tweets_df,ignore_index=True)

In [81]:
new_tweets_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3278 entries, 0 to 3277
Data columns (total 7 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Tweet               3278 non-null   object
 1   Tweet ID            3278 non-null   int64
 2   Number of Likes     3278 non-null   int64
 3   Number of Retweets  3278 non-null   int64
 4   Date                3278 non-null   object
 5   Time                3278 non-null   object
 6   Datetime            3278 non-null   datetime64[ns]
dtypes: datetime64[ns](1), int64(3), object(3)
memory usage: 179.4+ KB

In [60]:
new_tweets_df.duplicated().sum()

0

In [82]:
new_tweets_df

,Tweet,Tweet ID,Number of Likes,Number of Retweets,Date,Time,Datetime
0,@benmurraybruce @ruffydfire I noticed the kind...,1599880220621737984,0,0,2022-12-05,21:35:43,2022-12-05 21:35:43
1,"This is a good time to be alive, like it or no...",1599839158695968768,0,0,2022-12-05,18:52:33,2022-12-05 18:52:33
2,"@JeffreyGuterman What an impudence, what do yo...",1599689920305512448,0,0,2022-12-05,08:59:32,2022-12-05 08:59:32
3,@renoomokri That is why Nigerian politics is a...,1599604827675303936,0,0,2022-12-05,03:21:24,2022-12-05 03:21:24
4,@SavvyRinu @benmurraybruce @ruffydfire Nigeria...,1599359252937658368,3,0,2022-12-04,11:05:35,2022-12-04 11:05:35
...,...,...,...,...,...,...,...
3273,"INEC’ll Reproduce Burnt PVCs, Attacks Can’t St...",1597555562728017927,299,86,2022-11-29,11:38:21,2022-11-29 11:38:21
3274,Breaking News: INEC has fixed Monday 12th Dece...,1598789848768385063,416,124,2022-12-02,21:22:58,2022-12-02 21:22:58
3275,"Over 150,000 PVCs remain unclaimed in Niger, I...",1596868805048901632,25,19,2022-11-27,14:09:26,2022-11-27 14:09:26
3276,PRESS RELEASE\n2023 GENERAL ELECTIONS: IGP ORD...,1596888729439948803,213,47,2022-11-27,15:28:36,2022-11-27 15:28:36
3277,"INEC's Dirty Apparel, By Bright Okuta | Sahara...",1596765374372249600,112,25,2022-11-27,07:18:26,2022-11-27 07:18:26

In [79]:
new_tweets_df["Datetime"] = new_tweets_df['Date'].astype(str) +" "+ new_tweets_df["Time"].astype(str)

In [76]:
new_tweets_df['Date'] = new_tweets_df['Date'].astype(str)

In [69]:
new_tweets_df['Date'] =  pd.to_datetime(new_tweets_df['Date'])

In [80]:
new_tweets_df['Datetime'] =  pd.to_datetime(new_tweets_df['Datetime'])

In [85]:
new_tweets_df.sort_values(by='Datetime',ascending=False, inplace=True, ignore_index=True)

In [89]:
new_tweets_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3278 entries, 2650 to 3100
Data columns (total 6 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Tweet               3278 non-null   object
 1   Tweet ID            3278 non-null   int64
 2   Number of Likes     3278 non-null   int64
 3   Number of Retweets  3278 non-null   int64
 4   Date                3278 non-null   object
 5   Time                3278 non-null   object
dtypes: int64(3), object(3)
memory usage: 179.3+ KB

In [95]:
new_tweets_df.to_csv('tweets.csv')